@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	box-sizing: border-box;
}

body {
	background-color: #FCFCFF;
}

button {
	width: 300px;
	height: 80px;
	border-radius: 40px;
	text-align: center;
	background-color: #00D4F0;
	position: relative;
	left: 50%;
	transform:translateX(-50%);
}

.columnRight button {
	margin-top: 20px;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.columnLeft, .columnRight{
	width: 50%;
	float: left;
	min-height: 100vh;
}

.columnRight {
	position: fixed;
	left: 50%;
}

.node {
	width: 80%;
	background-color: white;
	margin: 20px auto;
	position: relative;
	height: 280px;
}

.node input {
	width: 400px;
	margin: auto;
	height: 200px;
}

.inputs {
	width: 400px;
	margin: 20px auto;
	position: relative;
	top: 20px;
}

.inputs h4 {
	margin: 10px 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.inputs textarea {
	width: 300px;
	margin: auto;
	height: 200px;
}

.move, .add {
	display: none;
	width: 60px;
	position: absolute;
	top: 50px;
}

.move {
	left: -30px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.move button, .add button{
	width: 60px;
	height: 60px;
	border: 0;
	border-radius: 0;
}

.move button {
	background-color: #EDEDED;
}

button.delete {
	background-color: red;
}

.add {
	right: -30px;
}

.add button {
	background-color: green;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.add button:first-child {
	margin-bottom: 60px;
}

.node:hover {
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
	width: 84%;
}

.node:hover .move, .node:hover .add {
	display: block;
}

.placeholder{
	width: 90%;
	height: 600px;
	margin: auto;
	background-color: black;
}

.clearFix::after {
    content: "";
    clear: both;
    display: table;
}
